.bottom-section{
    background-image: url('https://images.squarespace-cdn.com/content/v1/5912373d46c3c48ff6f237f7/1498584923734-YLMRDX1T1L9AKAGXJ6G6/general-car-repair-CA-Motor-Works.jpg?format=1000w');
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}